.lead__subtitle {
    max-width: 640px;
    margin: 0 0 64px;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.2; /* 36px; or 120% */
    text-align: center;
}

@media screen and (max-width: 1140px) {
    .lead__subtitle {
        margin: 0 0 56px;
    }
}

@media screen and (max-width: 645px) {
    .lead__subtitle {
        margin: 0 0 40px;
        font-size: 25px;
    }
}

@media screen and (max-width: 568px) {
    .lead__subtitle {
        font-size: 16px;
        line-height: 1.25; /* 20px; or 125% */
    }
}