.place__url-heading {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.0; /*12px; identical to box height, or 100% */
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0 0 12px;
    color: #AAAAAA;
}